ChristianLifeChurch.BackOffice/obj/
ChristianLifeChurch.CommonEntities/obj/
ChristianLifeChurch.FrontWeb/bin/
ChristianLifeChurch.FrontWeb/obj/
ChristianLifeChurch.BackOffice/bin/
ChristianLifeChurch.CommonEntities/bin/
ChristianLifeChurch.Core/bin/
ChristianLifeChurch.Core/obj/
